/* this is the font imported from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Red+Hat+Display:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Red Hat Display", sans-serif;
}

h1, {
    font-family: "dosis", sans-serif;
}
/* Header */
header {
    background-color: palevioletred;
}

/* Main content */
main {
    background-color: lightyellow;
    /* Places footer at the bottom by having the main take up any leftover space */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: palegreen;
}